{% extends 'base.html.twig' %}

{% block title %}Moussaka{% endblock %}

{% block body %}

<div>
    <h1> Bienvenu sur Moussaka ! </h1>

    {% if app.user %}
        <div class="mb-3">
            <!-- userIdentifier / displayName -->
            {{ app.user.displayName }}, <a href="{{ path('app_logout') }}">Se déconnecter</a>
        </div>
    {% else %}
        <div class="mb-3">
            <ul>
                <a href="{{ path('app_login') }}">Se connecter</a>
                <a href="{{ path('app_register') }}">Creer un compte</a>
            </ul>
        </div>
    {% endif %}

    <div class="flex flex-row">
        <div class="basis-1/4"></div>
        <div class="md-3">
            {{ render(controller('App\\Artists\\Infrastructure\\Symfony\\\Controller\\SongController::index')) }}
        </div>
    </div>
    <div class="flex flex-row">
        <div class="basis-1/4"></div>
        <div class="md-3">
            {{ render(controller('App\\Artists\\Infrastructure\\Symfony\\Controller\\AlbumController::index')) }}
        </div>
    </div>
    <div class="flex flex-row">
        <div class="basis-1/4"></div>
        <div class="md-3">
            {{ render(controller('App\\Artists\\Infrastructure\\Symfony\\Controller\\PlaylistController::index')) }}
        </div>
    </div>
    

    <!-- logo --> 
    <!-- recherche --> 
    <!-- compte --> 
    <!-- playlists --> 
    <!-- liste des titres --> 
    <!-- lecture en cours--> 

</div>
{% endblock %}
